// Background
$background-color-primary: rgb(255, 255, 255);
$background-color-secondary: rgb(41, 41, 41);

// Fonts
$font-color-primary: rgb(12, 12, 12);
$font-color-secondary: rgb(3, 87, 58);
$font-color-tertiary: rgb(255, 255, 255);

// Buttons
$button-color-primary: rgb(3, 87, 58);
$button-color-primary--faded: rgb(3, 87, 58, 0.5);
$button-color-secondary: rgb(2, 61, 40);
