@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scrollInFromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes buttonColorSwitch {
  from {
    background-color: $button-color-primary;
  }
  to {
    background-color: $button-color-secondary;
  }
}
