@import "/src/sass/base";

.page {
  min-height: 100svh;
  background-color: $background-color-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: $font-size-standard;
}
