@import "/src/sass/base";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.u-row {
  display: flex;
}

/*
---------- Font Quicksand
// <weight>: Use a value from 300 to 700
// <uniquifier>: Use a unique and descriptive class name

.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
