@import "../../../sass/base";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0 2rem 0;
  border-bottom: 1px dotted $font-color-secondary;
}

.name {
  font-size: 1.6rem;
  font-weight: 800;
}

.allergens,
.options,
.description {
  font-size: 1.6rem;
}

.price {
  font-size: 1.6rem;
  font-weight: 800;
}

.u-row {
  margin-top: 1rem;
}
